.services__container {
    grid-template-columns: repeat(3, 1fr);
    padding: 2rem;
    justify-content: center;
    column-gap: 2rem;
}


.services__content {
    position: relative;
    background-color: #111111;
    top: 20px;
    padding: 50px;

    border-radius: 0.75rem;
    border: 0.5px solid rgb(142, 255, 148);
    
}

.services__icon {
    display: block;
    font-size: 2rem;
    color: var(--title-color);
    margin-bottom: var(--mb-1);
}

.services__title {
    font-size: var(--h3-font-size);
    margin-bottom:var(--mb-1);
    font-weight: var(--font-medium);
}

.services__button {
    color: var(--title-color);
    font-size: var(--small-font-size);
    display: inline-flex;
    align-items: center;
    column-gap: 0.25rem;
    cursor: pointer;
    
}

.services__button-icon {
    font-size: 1rem;
    transition: 0.3s;
}

.services__button:hover .services__button-icon {
    transform: translateX(00.25rem);
}

.services__modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--z-modal);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    
}

.services__modal-close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: #111111;
    cursor: pointer;
}

.services__modal-content {
    background-color: #ffffff;

    width: 500px;
    position: relative;
    /* background-color: var(--container-color); */
    padding: 4.5rem 2.5rem 2.5rem;
    border-radius: 1.5rem;
    
}

.webPage {
    background-image: url('/src/assets/webDesign.png');
    background-size: 200px;
    background-position: right;
    background-repeat: no-repeat;
}

.uxUi {
    background-image: url('/src/assets/uxui.png');
    background-size: 200px;
    background-position: right;
    background-repeat: no-repeat;
}


.appWeb {
    background-image: url('/src/assets/webDevelopment.png');
    background-size: 200px;
    background-position: right;
    background-repeat: no-repeat;
}

.services__modal-title,
.services__modal-description {
    text-align: center;    
    color: rgb(196, 117, 248);
}

.services__modal-title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-1);
    
}

.services__modal-description {
    font-size: var(--small-font-size);
    padding: 0 1rem;
    margin-bottom: var(--mb-1);
}

.services__modal-services {
    row-gap: 0.75rem;
}

.services__modal-service {
    display: flex;
    align-items: center;
    column-gap: .5rem;
}

.services__modal-icon {
    color: var(--title-color);
    font-size: 1.1rem;
}

.services__modal-info {
    font-size: var(--small-font-size);
}

/* Active modal */
.active-modal {
    opacity: 1;
    visibility: visible;
}

/* NO SCROLL */

.no-scroll {
    overflow: hidden;
}

/* RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE RESPONSIVE */

@media (max-width: 992px){
    .services__container {
        grid-template-columns: repeat(3, 218px);
    }
    
}

@media (max-width: 768px){
    .services__container {
        grid-template-columns: repeat(1, 1fr);
        
    }

    .services__icon {
        padding: 1rem;
    }

    .services__icon {
        font-size: 1.5rem;
    }

    .services__content {
        padding: 20px 50px;
    }
}

@media (max-width: 567px){
  .services__modal-content {
    padding: 17px;
  }

  .services__modal-description {
    padding: 17px;
  }
}

@media (max-width: 350px) {
    .services__container {
        grid-template-columns: max-content;
    }

    .services__content {
        padding-right: 6rem;
    }
}