.qualification__container {
    max-width: 600px;
    height: 820px;
    padding: 0px;
    background: #111111;

    box-shadow: 0 0 15px 0 rgb(144, 142, 255);
}

.qualification__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: var(--mb-2);
}

.qualification__tabs p {
    color: rgb(255, 255, 255);
}

.qualification__tabs p:hover {
    color: rgb(193, 255, 193);
}

.qualification__button {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    margin: 0 var(--mb-1);
    cursor: pointer;
}

.uil-times:before {
    color: rgba(48, 245, 107, 0.89);
}

.qualification__button i {
    color: rgba(48, 245, 107, 0.89);
}

.qualification__button i:hover {
    color: green;
}

.qualification__icon {
    font-size: 1.5rem;
    margin-right: var(--mb-0-25);
}

.qualification__active {
    color: var(--title-color-dark);
}

.qualification__sections {
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
}

/* .qualification__content {
    display: none;
} */

.qualification__content-active {
    display: block;
}

.qualification__data {
    display: grid;
    /* grid-template-columns: 1fr max-content 1fr; */
    column-gap: 1.5rem;
}

.qualification__title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-top: 40px;
}

.qualification__subtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: right;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);

    font-size: 1.2rem;

}



.qualification__calendar {
    font-size: var(--small-font-size);

}

.qualification__rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--text-color);
    border-radius: 50%;
}

.qualification__line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--text-color);
    transform: translate(6px, -7px);
}

@media (max-width: 992px) {
    .qualification__container {
        margin-left: auto;
        margin-right: auto;
    }

    .qualification__container p {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .qualification__container {
        margin-left: var(--mb-1-5);
        margin-right: var(--mb-1-5);
        padding: 20px;
    }

    .qualification__subtitle {
        font-size: 14px;
        text-align: center;
    }
}

@media (max-width: 576px) {
    .qualification__sections {
        grid-template-columns: initial;
    }

    .qualification__button {
        margin: 0 var(--mb-0-75);
    }
}

@media (max-width: 350px) {
    .qualification__data {
        gap: 0.5rem;
    }
}