.portfolio__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);

    padding: 10px;
}

.portfolio__box {
    /* flex: 1; */

    background-image: url('');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;

    text-align: center;
    width: 350px;
    height: 350px;
    padding: 20px;
    box-sizing: border-box;

    box-shadow: 0 0 10px 0 rgb(91, 107, 253);
    z-index: 9;
}

.portfolio__container .portfolio__box .portfolio__image {
    width: 200px;
    height: 200px;
    z-index: 9;
}


.box__photo__first {
    background-image: url('../../assets/trend.JPG');

}


.portfolio__box .portfolio__title,
.portfolio__description {
    text-align: center;

}


@media (max-width: 992px) {

    .portfolio__container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);

        padding: 10px;
    }

    .portfolio__box {
        flex: 1;
        border: 2px solid green;
        text-align: center;
        width: 100%;
        height: 300px;
        padding: 20px;
        box-sizing: border-box;

    }

}

@media (max-width: 768px) {

    .portfolio__container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);

        width: 100%;
        margin-left: 0;
        padding: 0;
    }

    .portfolio__box {
        border: 2px solid green;
        text-align: center;
        width: 100%;
        height: 500px;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        margin-left: 0;

    }

    .portfolio__box .portfolio__title,
    .portfolio__description {
        text-align: center;
        padding: 50px;
    }



}