.portfolio__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);

    padding: 10px;
}

.portfolio__box {

    overflow: hidden;

    background-image: url('');
    background-size: contain;
    background-position: top center;
    background-repeat: no-repeat;

    text-align: center;
    width: 350px;
    height: 350px;
    padding: 20px;
    box-sizing: border-box;

    box-shadow: 0 0 10px 0 rgb(91, 107, 253);
    z-index: 9;


}

.portfolio__box:hover {
    opacity: 1;
    z-index: 9;
}


.portfolio__container .portfolio__box .portfolio__image {
    outline: none;
    background: none;

    width: 200px;
    height: 200px;
    z-index: 9;

}


.box__photo__first::before {

    z-index: 9;
}

.box__photo__first {
    background-image: url('../../assets/trend.JPG');
    z-index: 9;
}

.portfolio__textHover {
    display: none;
    text-align: center;
    overflow: hidden;
    padding: 20px;
    opacity: 90%;
    font-size: 1.5rem;
    color: #ffffff;
    background: black;
    z-index: 9;
}

.box__photo__first:hover {
    display: block;

}


.portfolio__box .portfolio__title,
.portfolio__description {
    text-align: left;
    outline: none;
}

.portfolio__description p {
    padding: 0;
    margin: 0;
}

.portfolio__title {
    display: flex;
    flex-direction: row;

}



.portfolio__title img {
    margin-left: 30px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
}


.portfolio__title__github:hover img {
    outline: none;
    filter: brightness(1.75);
    -webkit-filter: brightness(1.75);
}

/* .portfolio__description img {

    margin-left: 20px;
    width: 30px;
    height: 30px;

} */


@media (max-width: 992px) {

    .portfolio__container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);

        padding: 10px;
    }

    .portfolio__box {
        flex: 1;
        border: 2px solid green;
        text-align: center;
        width: 100%;
        height: 350px;
        padding: 20px;
        box-sizing: border-box;

    }

    .portfolio__box .portfolio__title,
    .portfolio__description {
        text-align: left;

    }

    /* .portfolio__description p {

        padding: 20px;
        margin: 0;
        width: 80%;

        font-size: 1rem;
        color: #ffffff;


    } */

    .portfolio__title {
        display: flex;
        flex-direction: row;
        margin-top: -20%;
        margin-left: 0;

    }

    .portfolio__title h3 {
        margin-top: -10%;
        padding: 0;


    }

    .portfolio__title img {
        margin-left: 10px;
        padding: 5px;

    }

    .box__photo__first {
        background-size: 200px;
        background-position: center top 10px;
        z-index: 9;
    }

}

@media (max-width: 768px) {

    .portfolio__title__github {
        text-decoration: none;
        display: inline-block;

    }

    .portfolio__title__github img {
        padding: 0;
        margin: 0;
        border: none;
        outline: none;
    }

    .portfolio__container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);

        width: 100%;
        margin-left: 0;
        padding: 0;
    }

    .portfolio__box {
        border: 2px solid green;
        text-align: center;

        /* width: 100%;
        height: 500px; */

        width: 100%;
        height: 250px;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        margin-left: 0;

    }

    .portfolio__box .portfolio__title,
    .portfolio__description {
        text-align: center;

    }

    .portfolio__description p {

        padding: 0 10%;
        margin: -15px;
        width: 80%;
        color: #ffffff;


    }

    .portfolio__title {
        display: flex;
        flex-direction: row;
        padding: 0;

    }

    .portfolio__title h3 {
        margin-top: 0;
        margin-left: 20%;
    }

    .portfolio__title img {
        margin-left: 0;
        margin-top: -20px;
    }

    .box__photo__first {
        background-size: 180px;
        background-position: center top 10px;
        z-index: 9;
    }

}