.about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}

.about__img {
    width: 350px;
    border-radius: 1.5rem;
    justify-self: center;
}

.about__info {
    grid-template-columns: repeat(3, 140px);
    gap: 0.5rem;
    margin-bottom: var(--mb-2);
}

.about__box {
    border-radius: 0.75rem;
    text-align: left;
    /* padding: 20px; */

    /* border: 1px solid transparent;
    border-image-slice: 10;
    border-image: linear-gradient(rgb(142, 255, 148), rgb(169, 148, 255)) 1; */
    
} 

 .about__info .about__box h3, span {
    padding: 0;
}

.about__icon {
    font-size: 1.5rem;
    color: var(--title-color);
    margin-bottom: var(--mb-0-5);
}

.about__title {
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    color: rgb(169, 148, 255);
}

.about__subtitle {
    font-size: var(--tiny-font-size);
    font-weight: 2000;
    color: #a3ffb7;
}

.about__description {
    padding: 0 2rem 0 0;
    margin-bottom: var(--mb-2-5);
    font-size: large;
    text-align: right;
}

@media (max-width: 992px) {
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about__img {
        width: 220px;
    }

    .about__box {
        padding: 0;
    }

    .about__data {
        text-align: center;
    }

    .about__info {
        justify-content: left;
    }

    .about__description {
        padding: 10px;
        margin-bottom: 2rem;
        text-align: left;
    }
}

@media (max-width: 576px) {
    .about__info {
        grid-template-columns: repeat(3, 1fr);
    }

    .about__description {
        padding: 0;
    }
}

@media (max-width: 350px) {
    .about__info {
        grid-template-columns: repeat(2, 1fr);
    }
}