
footer {
    position: absolute;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.footer__logo img{
    position: absolute;
    width: 300px;
    height: 300px;
    top: 20%;
    left: 700px;
    
}

.footer__container {
    padding: 100px;
    
}

.footer__title,
.footer__link {
    color: var(--title-color);
}

.footer__title {
    text-align: center;
    margin-left: 0;
}

.footer__link {
    font-size: 2rem;
    color: #111111;
    overflow: hidden;
}

.footer__list {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 0;
    column-gap: 1.5rem;
}

.footer__list li {
    text-align: left;
}

.footer__list li a {
    color: #ffffff;
}



.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer__social-link {
    background-color: var(--title-color);
    color: var(--container-color);
    font-size: 1.125rem;
    padding: 0.4rem;
    border-radius: 0.5rem;
    display: inline-flex;
}

.footer__social-link:hover {
    background-color: var(--title-color-dark);
}

.footer__copy {
    display: block;
    margin-top: 4.5rem;
    color: var(--title-color);
    text-align: center;
    font-size: var(--smaller-foint-size);
}

@media (max-width: 992px){

    
    .footer__container {
        margin-top: 70px;
        padding: 0;
    
    }
    
    .footer__social-linn {
        padding: 0.25rem;
        border-radius: 0.25rem;
        font-size: 1rem;
        }

        .footer__logo img{
            left: 0;
            opacity: 0;
            z-index: -1;
        }
        
           
    
} 