/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Roboto:ital,wght@0,500;0,900;1,400&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  /* paragraph  p */
  --paragraph: #ffffff;

  /* text color */
  --text-color:

    /* title */
    --title-color: rgba(255, 0, 0, 0.445);


  /* title color dark */
  --title-color-dark: #111111;

  /* border */
  --border: 1px solid rgb(0, 255, 55);

  /* Header Height */
  --header-height: 3rem;

  /*Font Typography */
  --body-font: 'Poppins', sans-serif;

  /* Font Size */
  --big-font-size: 3.5rem;
  --h-font-size: 3rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.20rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.813rem;
  --tiny-font-size: 12px;

  /* Font Weight */

  --font-normal: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* z index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;

  /* body color */
  --body-color: #ffffff;
}

/* Responsive typography */
@media (max-width: 992px) {
  :root {
    --big-font-size: 2.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
  }
}

/* ----BASE */
html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: linear-gradient(rgb(0, 0, 0), rgb(58, 38, 150));
}


span,
label,
div {
  color: var(--paragraph);

}

h1,
h2,
h3 {
  color: rgb(91, 107, 253);
  font-weight: var(--font-semi-bold);

  background: linear-gradient(rgb(164, 131, 255), rgb(122, 65, 255));

  background: linear-gradient(rgb(133, 131, 255), rgb(68, 65, 255));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

}

ul {
  list-style: none;
  color: rgb(111, 0, 255);
}

a {
  text-decoration: none;
  color: var(--paragraph);

}

button {
  cursor: pointer;
  border: none;
  outline: none;

}


img {
  max-width: 100%;
  height: auto;
}

/* --- REUSABLE CSS CLASSES */

.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: var(--h-font-size);
  color: var(--title-color);

  background: linear-gradient(rgb(131, 139, 255), rgb(65, 93, 255));
  background: linear-gradient(rgb(255, 255, 255), rgb(65, 255, 106));
  color: transparent;
  display: inline;
  background-clip: text;
  -webkit-background-clip: text;
}


.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: 4rem;
}

.section__title,
.section__subtitle {
  text-align: center;

}

/* ---- LAYOUT */
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* ---- BUTTON */
.button {
  display: flex;
  justify-content: center;
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(--font-medium);
  border: 1px solid #ffffff;

  background: #111111;
  color: #ffffff;

  box-shadow: 0 0 10px 0 rgb(91, 107, 253);

}

.button svg {
  width: 20px;
  height: 20px;
}


.button:hover {
  background-color: var(--title-color-dark);
  border: var(--border);
  color: rgba(48, 245, 107, 0.89);
}

.button__icon {
  margin-left: var(--mb-0-5);
}

.button--flex {
  display: inline-flex;
  align-items: center;

}

/* ---- BREAKPOINTS */

/* FOR LARGE DEVICES */
@media (max-width: 992px) {
  .header {
    z-index: 9;
  }

  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }

  .button {
    width: 150px;
    height: 20px;

  }

  .button__icon {
    width: 22px;
    height: 22px;
  }
}

/* FOR MEDIUM DEVICES */
@media (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }

  .section {
    padding: 2rem 0 4rem;
  }

  .section__subtitle {
    margin-bottom: var(--mb-3);
  }
}

@media (max-width: 576px) {}

/* FOR SMALL DEVICES */
@media (max-width: 350px) {
  :root {
    --big-font-size: 2.25rem;
  }

  .container {
    margin-left: var(--mb-1);
    margin-right: var(--mb-1);
  }

}